body{
    margin: 0;
    font-family: "Computer Modern Serif", serif;
    font-size: 12px;
}

#text-heading{
    text-align: center;
    width: 100%;
    margin: 5px auto;
}

#description{
    font-size: 20px;
    border: 1px solid #EBEBEB;    
}
#sub_description{
    font-size: 14px;
}

#main-body-parent {
    display: flex;
    justify-content: space-around;
}  

#canvas{
    width: 40%;
    float: left;
}

.button-and-code{
    /* border: 100px solid lightgray; */
    background-color:red;
    width: 40%;
    float: right;
    position: relative;
}

#main-button{
    position: absolute;
    bottom: 100%;
    padding: 8px 16px;
    text-align: center;
    float:right;
    margin: auto;
}

#code-output{
    margin: auto;
    float:left;
    font-family: Consolas,"courier new";
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
    width: 70%;
    position: absolute;
}


.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
}